@font-face {
    font-family: 'montserratblack';
    src: url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url('../images/main.png');
	color: #dacee8;
	font: 13px/2.3 'Roboto', sans-serif;
	position: relative;
}

.visual {
	height: 833px;
	background: url('../images/mi.png');
}

.container {
	padding-top: 67px;
	margin: 0 auto;
	width: 1140px;
}

.header {
	padding-top: 20px;
	margin-bottom: 90px;
}

.header:after {
	content: '';
	display: block;
	clear: both;
}

.logo {
	float: left;
	display: inline-block;
}

.logo a img {
	display: block;
}

.logo a {
	display: block;
}

.nav {
	float: right;
	height: 84px;
	display: block;
}

.nav ul {
	margin: 14px 0 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.nav li {
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	display: block;
}

.nav li a {
	font: 900 18px 'montserratblack', sans-serif;
	color: white;
	width: 140px;
	height: 55px;
	display: block;
	line-height: 55px;
	border: 1px solid #9784ad;
	text-decoration: none;
	text-transform: uppercase; 
	border-radius: 4px;
	text-align: center;	
	position: relative;
	transition: all .3s ease;
}

.nav > ul > li {
	float: left;
	margin: 0 0 0 10px;
	position: relative;
}

.nav li a:hover {
	background: #f7e039;
	border-color: #f7e039;
	box-shadow: 0 3px 3px #4a2f68;
}

.buttons li a:hover {
	box-shadow: 0 3px 3px #4a2f68;
}

.nav li a:hover:after {
	opacity: 1;
}

.nav li a:after {
	opacity: 0;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: #f7e039 transparent transparent transparent;
	position: absolute;
	top: 100%;
	left: 50%;
	margin: 0 0 0 -8px;
	transition: all .2s ease;
}


.nav li ul {
	position: absolute;
	left: 0;
	top: 100%;
}

a {
	color: #9c8caf;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.section h1 {
	margin: 0;
	font: 500 107px 'montserratblack', sans-serif;
	line-height: 112px;
	letter-spacing: -7px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
}

.section h6 {
	font: bold 32px 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	margin: 0 0 45px 0;
	padding-bottom: 40px;
	border-bottom: solid 2px #9784ad;

}

.section p {
	font: 100 28px 'Montserrat', sans-serif;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin-bottom: 130px;
}

.section li {
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
	position: relative;
}

.the-best {
	color: #ead7fb;
}

.buttons li a:hover {
	background: #69c7e2;
}

.buttons li a {
	font: 800 18px 'Open Sans', sans-serif;
	margin-right: 10px;
	color: white;
	width: 140px;
	height: 55px;
	display: block;
	line-height: 55px;
	border: 1px solid #9784ad;
	text-decoration: none;
	text-transform: uppercase; 
	border-radius: 4px;
	text-align: center;	
	position: relative;
}

.section  {
	position: relative;
}

.buttons {
	text-align: center;
	position: absolute;
	left: 38%;
	padding: 0;
}

.main {
	height: auto;
	position: relative;
}

.image img {
	border: 0;
	padding-bottom: 30px;
	display: block;
}

.images:after,
.bottom-p:after {
	content: '';
	display: block;
	clear: both;
}


.image:first-child {
	margin: 0;
}

.images a {
	display: block;
	height: 100%;
}

.image:before, 
.image:after,
.bottom-p:before,
.bottom-p:after {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	height: 10px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 8px 8px;
	bottom: 2px;


}

.image:before,
.bottom-p:before {
	z-index: 1;
	bottom: 4px;
}

.note {
	font: 700 18px 'Roboto', sans-serif;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #6b5181;
}

.main .container h1 {
	font: 100 60px 'Roboto', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #654d7b;
	display: block;
	margin: 0 0 10px 0;
}

.main .container h6 {
	font: 500 30px 'Roboto', sans-serif;
	color: #fff;
	text-transform: none;
	text-align: center;
	display: block;
	margin: 0 0 82px 0;
}


.image {
	width: 340px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	padding: 20px 20px 30px 20px;
	position: relative;
	float: left;
	margin: 0 0 75px 60px;
	cursor: pointer;
}

.image:hover {
	box-shadow: 0 0 5px #4a2f68;
}

.bottom-p {
	width: 1140px;
	border-radius: 8px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background: #fff;
	font: 300 13px/30px 'Roboto', sans-serif;
	color: #9481a5;
	padding: 25px 21px;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
}

p {
	margin: 0;
}

.in-text {
	font-weight: 500;
}

.in-text:last-child {
	text-decoration: underline;
}

.footer {
	overflow: hidden;
	padding: 0 0 60px 0;
	width: 1140px;
	margin: 0 auto;
}

.copy {
	display: inline-block;
	width: 1140px;
	height: 29px;
	position: relative;
	padding-top: 40px;
	border-top: 2px solid #6d5384;
	font: 300 14px 'Roboto', sans-serif;
	color: #6d5384;
}

.copy span:first-child {
	display: block;
	position: absolute;
	left: 0;
}

.copy span:last-child {
	display: block;
	position: absolute;
	right: 0;
}

.footer p {
	text-align: justify;
	position: relative;
	float: right;
}

